.slider {
    margin: 0 -15px;
    padding: 0;
    overflow: hidden;
    height: 100vw;
    @media (min-width: $screen-sm) {
        height: 100vh;
    }
    &-box {
        background-color: #ffffff;
        padding: 0 30px;
        height: 100vh;
        margin-top: $height_header;
        &-in {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            left: 0;
            padding: 15px;
        }
    }
    .slick-slide {
        img {
            @media (min-width: $screen-sm) {
                height: 100vh;
                width: auto;
                margin-top: 0;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
            margin-top: $height_header;
            width: 100%;
            &.slider-logo {
                width: 140px;
                height: auto;
                margin-bottom: 30px;
                position: static;
                transform: translateX(0%);
                
            }
        }
        @media (min-width: $screen-sm) {
            margin: 0;
        }
    }
    &-box-lb,
    &-box-lt,
    &-box-rt,
    &-box-rb {
        position: absolute;
        width: 20%;
        height: auto;
        background-color: #ffffff;
        padding: 15px;
    }
    &-box-lb {
        left: 0;
        bottom: 0;
        top: auto;
    }
    &-box-lt {
        left: 0;
        top: $height_header;
    }
    &-box-rt {
        right: 0;
        left: auto;
        top: $height_header;
    }
    &-box-rb {
        right: 0;
        left: auto;
        bottom: 0px;
        top: auto;
    }
    &-title,
    &-copy,
    &-copy-sm {
        text-align: center;
        font-family: $font_nav;
        color: $gray-dark;
    }
    h3 {
        &.slider-title {
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    &-copy-sm {
        margin: 5px 0;
        font-size: 12px;
    }
}