.vbox-container img{
    max-width: 90vw;
    max-height: 90vh;
}
.vbox-container{
    overflow: hidden;
}
.vbox-inline{
    background-color: #000000;
}
.vbox-next span {
    right: 17px;
    top: 12px;
}
.vbox-prev span {
    left: 17px;
    top: 12px;
}