@keyframes flip {
    0% {
        transform: rotateY(0deg); //width: 100%;
    }
    50% {
        transform: rotateY(180deg); //width: 0;
    }
    100% {
        transform: rotateY(360deg);
    }
}